* {
  margin: 0;
  box-sizing: border-box;
}

body {
  text-indent: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.headline {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
}

.subheader {
  font-style: italic;
  text-align: center;
  margin-bottom: 10px;
}

.center-align {
  text-align: center;
}

hr {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.intro{
  margin: 0 auto 20px;
  width: 80%;
}

.main-text {
  margin: 20px auto 20px;
  width: 80%;
}

.idea {
  font-style: italic;
  font-weight: bold;
  margin: 20px auto;
  width: 80%;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-element {
  font-size: 14px;
}

img {
  display: block;
  margin: 0 auto 20px;
  max-width: 20%;
  height: auto;
}

.author {
  text-align: center;
  margin: 0 auto 20px;
  width: 80%;
}
