h1 {
    color: blue;
}

h2 {
    color: #6b1d1d;
}
.sectionFirst {
    font-style: italic;
}
.sectionSecond{
    text-decoration: underline;
}
.bigText {
    font-size: 40px;
}
.smallText {
    font-size: large;
}
li {
    background-color: #6b1d1d;
}
