body {
  margin: 0;
}

.background-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  background-image: url('imagebanner.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.background-div> div {
  width: 30%;
  display: flex;
  justify-content: center;
  color: #f0f0f0;
  opacity: 60%;
  font-size: 30px;
}
.background-div> div>p {
  margin-left: 10px;
}

.play> {
  align-self: center;
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
}
.play img:hover {
  opacity: 100%;
  border: 2px solid #fff;
  border-radius: 50%;
}

.background-div> div img {
  opacity: 60%;
  max-width: 100%;
  max-height: 40%;
}
main {
  width: 400vh;
}